/* Mail1s iframe styles */

.iframeContainer {
  position: relative;
  height: calc(100vh - 8rem);
  width: 100%;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  display: block;
}

.iframeWrapper {
  height: 100%;
  overflow: auto;
}
